.page {
  margin: 16px;
}

.card {
  box-shadow: 5px 8px 15px 5px rgba(208, 216, 243, 0.6);
  border-radius: 8px;
}

.lineage-graph {
  margin-top: 1.5rem;
}

.lineage-node-active {
  overflow: hidden;
  border-radius: 0.25rem;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(57, 35, 150, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(57, 35, 150, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  opacity: 1;
}

.lineage-node-box {
  padding: 4px 12px 7px;
}

.lineage-node-title {
  font-size: 15px;
  font-weight: 700;
}

.lineage-node-subtitle {
  font-size: 10px;
  font-style: italic;
  text-overflow: ellipsis;
  max-width: 135px;
  overflow: hidden;
  white-space: nowrap;
}

.lineage-navigate {
  padding: 4px 12px 7px;
}

.feature-container {
  column-count: 3;
}

.feature-container p {
  break-inside: avoid-column;
}

.dataSource-container {
  column-count: 1;
}

.display-flex {
  display: flex;
}
