{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "@typescript-eslint/eslint-plugin", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".tsx", ".ts", ".jsx", ".js", ".json"]
      },
      "typescript": {}
    }
  },
  "extends": [
    // https://github.com/eslint/eslint/blob/main/conf/eslint-recommended.js
    "eslint:recommended",
    // https://github.com/facebook/create-react-app/tree/main/packages/eslint-config-react-app
    "react-app",
    // https://reactjs.org/docs/hooks-rules.html
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "dot-notation": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "json": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "import/no-unresolved": "error",
    "import/no-dynamic-require": "off",
    "import/no-mutable-exports": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {}
    }
  ]
}
